@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

html, body {
	margin: 0;
	padding: 0;
	height:100%;
	width: 100%;
}
h2 {
	font-family: 'Playfair Display', sans-serif;
	font-size: 300;
	font-weight:650;
	color: #00008B;
	text-align: center;
	text-decoration: underline;
}

p{
	font-family: 'Raleway' sans-serif;
	color: #000000;
	font-size: 150%;
	line-height: 100%;
	text-align:justify;
	font-weight: 400;
}
img {
	text-align: center;
	max-width: 100%;
	height: auto;
	width: auto;

}

.introduction{
	height: 100%;
	width: 100%;
	margin: auto;
	background:  url(https://ibb.co/XydmqjC);
}